@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";
@import "react-responsive-carousel/lib/styles/carousel.min.css";
@import "react-vertical-timeline-component/style.min.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  background-color: black;
}

.overflow-hidden {
  overflow: hidden;
}

.slick-dots li.slick-active div {
  background-color: rgb(234 254 7) !important;
  /* White fill for active dot */
}